.idea
android
build
test

.flutter-plugins
.flutter-plugins-dependencies
.metadata
.packages
analysis_options
decibel_chomeur
/test/
/build/
/android/
/.idea/
/.dart_tool/
/test/
/build/
/android/
/.idea/
/.dart_tool/
/.flutter-plugins
/.flutter-plugins-dependencies
/.metadata
/.packages
/analysis_options.yaml
/decibel_chomeur.iml
/README.md
